@model BreakAway.Models.Contact.EditViewModel

@{
    ViewBag.Title = "Edit";
}

<style>
    fieldset {
        margin: 20px 0;
    }
</style>
@Html.ActionLink("Back to contact list", "Index")

@using (Html.BeginForm())
{
    @Html.HiddenFor(c => c.Id);
    <fieldset>
        <legend>Contact Information</legend>
        <div style="color:red;">
            @Html.ValidationSummary()
        </div>
        <div>
            @Html.LabelFor(c => c.Title, labelText: "Title:")
            @Html.TextBoxFor(c => c.Title)
        </div>
        <div>
            @Html.ValidationMessageFor(c => c.FirstName)
            @Html.LabelFor(c => c.FirstName, labelText: "First name:")
            @Html.TextBoxFor(c => c.FirstName)
        </div>
        <div>
            @Html.LabelFor(c => c.LastName, labelText: "Last name:")
            @Html.TextBoxFor(c => c.LastName)
        </div>
    </fieldset>

    <fieldset>
        <legend>Address</legend>
        @for (int i = 0; i < Model.Addresses.Count; i++)
        {
            @Html.HiddenFor(a => a.Addresses[i].Id);
            <table style="border-collapse:collapse;border:1px solid lightgrey;margin-bottom:12px;">
                <tr>
                    <th>Type</th>
                    <th>Postalcode</th>
                    <th>Country</th>
                    <th>State province</th>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(a => a.Addresses[i].AddressType) </td>
                    <td>@Html.TextBoxFor(a => a.Addresses[i].PostalCode)</td>
                    <td>@Html.TextBoxFor(a => a.Addresses[i].CountryRegion)</td>
                    <td>@Html.TextBoxFor(a => a.Addresses[i].Mail.StateProvince)</td>
                </tr>
                <tr>
                    <th>Street1</th>
                    <th>Street2</th>
                    <th>City</th>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(a => a.Addresses[i].Mail.Street1)</td>
                    <td>@Html.TextBoxFor(a => a.Addresses[i].Mail.Street2)</td>
                    <td>@Html.TextBoxFor(a => a.Addresses[i].Mail.City)</td>
                    <td><input style="margin:auto;display:block;background-color:indianred;" type="button" value="Remove"/></td>
                </tr>
            </table>
        }
        <input style="background-color:lightseagreen" id="add-address" type="button" value="Add" />
    </fieldset>
    <input type="submit" value="Save" />
}

<script>
    $(document).ready(function () {
        $('#add-address').click(function () {

        });
    });

    function addAddressClick() {
        alert('Hello!');
    }
</script>