@model BreakAway.Models.Contact.EditViewModel

@{
    ViewBag.Title = "Edit";
}

<style>
    fieldset {
        margin: 20px 0;
    }
</style>
@Html.ActionLink("Back to contact list", "Index")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(c => c.Id);
    <fieldset>
        <legend>Contact Information</legend>
        <div style="color:red;">
            @Html.ValidationSummary()
        </div>
        <div>
            @Html.LabelFor(c => c.Title, labelText: "Title:")
            @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
        </div>
        <div>
            @Html.ValidationMessageFor(c => c.FirstName)
            @Html.LabelFor(c => c.FirstName, labelText: "First name:")
            @Html.TextBoxFor(c => c.FirstName, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(c => c.LastName, labelText: "Last name:")
            @Html.TextBoxFor(c => c.LastName, new { @class = "form-control" })
        </div>
    </fieldset>

    <fieldset>
        <legend>Address</legend>
        @if (Model.Addresses != null)
        {
            foreach(var address in Model.Addresses)
            {
                @Html.Partial("_Address", address);
            }
        }
        <div id="div"></div>
        <input id="add-address" type="button" value="Add" />
    </fieldset>
    <input type="submit" value="Save" />
}

<script>
    $(document).ready(function () {
        $('#add-address').click(function () {
            console.log("hehe");

            $.ajax({
                type: "GET",
                url: "@Url.Action("AddressLayout","Contact")",
                success: function (addressLayout) {
                   $("#div").append(addressLayout);
                }
            });
        });
        $('#remove-address').click(function () {
            $(this).parent().parent().parent().remove();
        });
    });

</script>
