@model BreakAway.Models.Customer.EditViewModel

@{
    ViewBag.Title = @String.Format("{0} {1}", Model.Customer.FirstName, Model.Customer.LastName);
}

<h2>@ViewBag.Title</h2>




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Customer.Id)
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Contact information</legend>
        <div>
            @Html.LabelFor(m => m.Customer.Id)
            @Html.DisplayFor(m => m.Customer.Id)
        </div>
        <div>
            @Html.LabelFor(m => m.Customer.AddDate, "Added")
            @Html.DisplayFor(m => m.Customer.AddDate)
        </div>
        <div>
            @Html.LabelFor(m => m.Customer.ModifiedDate, "Modified")
            @Html.DisplayFor(m => m.Customer.ModifiedDate)
        </div>
        <div>
            @Html.LabelFor(m => m.Customer.Title)
            @Html.TextBoxFor(m => m.Customer.Title)
            @Html.ValidationMessageFor(m => m.Customer.Title)
        </div>
        <div>
            @Html.LabelFor(m => m.Customer.FirstName, "First name")
            @Html.TextBoxFor(m => m.Customer.FirstName)
            @Html.ValidationMessageFor(m => m.Customer.FirstName)
        </div>
        <div>
            @Html.LabelFor(m => m.Customer.LastName, "Last name")
            @Html.TextBoxFor(m => m.Customer.LastName)
            @Html.ValidationMessageFor(m => m.Customer.LastName)
        </div>
    </fieldset>
    <fieldset>
        <legend>Customer information</legend>
        <div>
            @Html.LabelFor(m => m.Customer.InitialDate, "Initial date")
            @Html.TextBoxFor(m => m.Customer.InitialDate)
            @Html.ValidationMessageFor(m => m.Customer.InitialDate)
        </div>
        <div>
            @Html.LabelFor(m => m.Customer.CustomerTypeId, "Customer type")
            @Html.DropDownListFor(m => m.Customer.CustomerTypeId, Model.CustomerTypes, "--- Customer type ---")
            @Html.ValidationMessageFor(m => m.Customer.CustomerTypeId)
        </div>
        <div>
            @Html.LabelFor(m => m.Customer.PrimaryActivity, "Primary activity")
            @Html.DropDownListFor(m => m.Customer.PrimaryActivity, Model.Activities, "--- Primary activity ---")
            @Html.ValidationMessageFor(m => m.Customer.PrimaryActivity)
        </div>
        <div>
            @Html.LabelFor(m => m.Customer.SecondaryActivity, "Secondary activity")
            @Html.DropDownListFor(m => m.Customer.SecondaryActivity, Model.Activities, "--- Secondary activity ---")
            @Html.ValidationMessageFor(m => m.Customer.SecondaryActivity)
        </div>
        <div>
            @Html.LabelFor(m => m.Customer.PrimaryDestination, "Primary destination")
            @Html.DropDownListFor(m => m.Customer.PrimaryDestination, Model.Destinations, "--- Primary destination ---")
            @Html.ValidationMessageFor(m => m.Customer.PrimaryDestination)
        </div>
        <div>
            @Html.LabelFor(m => m.Customer.SecondaryDestination, "Secondary destination")
            @Html.DropDownListFor(m => m.Customer.SecondaryDestination, Model.Destinations, "--- Secondary destination ---")
            @Html.ValidationMessageFor(m => m.Customer.SecondaryDestination)
        </div>
        <div>
            @Html.LabelFor(m => m.Customer.Notes, "Notes")
            @Html.TextAreaFor(m => m.Customer.Notes, 5, 40, null)
            @Html.ValidationMessageFor(m => m.Customer.Notes)
        </div>
    </fieldset>
    <fieldset>
        <legend>Additional informations</legend>
        <div>
            @Html.LabelFor(m => m.Customer.BirthDate, "Birth date")
            @Html.TextBoxFor(m => m.Customer.BirthDate)
            @Html.ValidationMessageFor(m => m.Customer.BirthDate)
        </div>
        <div>
            @Html.LabelFor(m => m.Customer.Height, "Height (inches)")
            @Html.TextBoxFor(m => m.Customer.Height)
            @Html.ValidationMessageFor(m => m.Customer.Height)
        </div>
        <div>
            @Html.LabelFor(m => m.Customer.Weight, "Weight (pounds)")
            @Html.TextBoxFor(m => m.Customer.Weight)
            @Html.ValidationMessageFor(m => m.Customer.Weight)
        </div>
        <div>
            @Html.LabelFor(m => m.Customer.DietaryRestrictions, "Dietary restrictions")
            @Html.TextAreaFor(m => m.Customer.DietaryRestrictions, 5, 40, null)
            @Html.ValidationMessageFor(m => m.Customer.DietaryRestrictions)
        </div>
    </fieldset>
    
    <input type="submit" value="Save" />
}

@using (Html.BeginForm("Delete", "Customer"))
{
    @Html.AntiForgeryToken()
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    @Html.Hidden("CustomerId", Model.Customer.Id)
    <input type="submit" value="Delete" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

